#title{
    background-color: #ff4c68;
   color: #fff; 
}
.container-fluid{
    padding: 3% 50%;
}
.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(180deg);
    transform: rotate(20deg);
  }
h1{
    font-size: 3.5rem;
    font-weight: bold;
}
h3
{
  padding: 5%;
}
.navbar{
    padding-bottom: 4.5rem;
}

#features{
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 2% ;
}

p{
  color: #8f8f8f;
}
.icon{
  color : #ef8172;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials
{ 
   text-align: center;
   background-color : #ef8172;
   color: #fff;
}
h2{
  padding-top: 5%;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 5%;
}
#press{
  background-color : #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.imagepress {
  width: 15%;
  margin-left:5% ;
}
.carousel-item
{
  padding: 0% 20%;
}

.card-deck{
 padding: 0% 15%;
}
#pricing{
  text-align: center;
}
.pricingtext{
  margin-bottom: 3%;
}
.h2{
    font-size: 3.5rem;
    font-weight: bold;
}