*{
    margin: 0;
    padding: 0;
}
#navbar{
  display: flex;
  align-items: center;
  position: relative;
}

#logo img{
   height: 50px;
   margin: 10px 17px;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
   list-style: none;
   font-size: 1.1rem;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li a{
    display: block;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
   background-color: white;
    color: black;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 300px;
    height: 547px;
}
/* #home::before{
    content: "";
    background: url("ripe-red-strawberries-in-a-white-bowl.jpg") no-repeat center center/cover;
    
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
} */
.backimage{
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#home p{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 80px;
    position: absolute;
    height: 14px;
  
}
#home h1{
    color: white;
    font-size: 3rem;
    position: absolute;
    height: 140px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 5px; 
    font-size: .9rem;
    border-radius: 10px;
    cursor: pointer;
}
#services{
    display: flex;
    padding: 20px;
   
}
#services .service1{
    border: 2px solid brown;
     border-radius: 12px ;
     margin: 20px;
     background-color: rgb(226, 242, 240);
}
#services .service2{
    border: 2px solid brown;
     border-radius: 12px ;
     margin: 20px;
     background-color: rgb(226, 242, 240);
}
#services .service2 img{
    height: 156px;
    display: block;
    margin: auto;
}
#services .service1 img{
    height: 156px;
    display: block;
    margin: auto;
}
.h-primary{
    font-size: 3.8rem;
    position: relative;
}
.h-secondary {
    font-size: 2.8rem;
    padding :12px;
    text-align: center;
}
.center{
    text-align: center;
}
#contact-box textarea{
  width:100%;
  padding: .5rem;
}
#contact-box{
    display: flex;
    justify-content: center;
    /* align-items: center;
    padding-bottom: 20px; */
    margin: 0px 316px;
}
#contact-box form{
  width: 40%;
}
#contact-box ::before{
    content:"";
    background:url("download.jpg") no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

